# =========================
# Client identity
# =========================
HOSCODE=xxxxx                   # รหัส 5 หลักหน่วยงาน
HOSNAME=xxx                     # ชื่อหน่วยงาน

# =========================
# Node.js server URL
# =========================
URL_SERVER=http://eee:3000      # URL ของ Node.js server (socket.io server) ที่ต้องการเชื่อมต่อ

# =========================
# Database config (ตัวอย่าง hosxpv3)
# =========================
# hosxpv3
HOSXPV3_DB_HOST=xxx             # IP หรือ hostname ของฐานข้อมูล hosxpv3
HOSXPV3_DB_USER=xxx             # ชื่อผู้ใช้ฐานข้อมูล hosxpv3
HOSXPV3_DB_PASSWORD=xxx         # รหัสผ่านฐานข้อมูล hosxpv3
HOSXPV3_DB_NAME=xxx             # ชื่อฐานข้อมูล hosxpv3
HOSXPV3_DB_PORT=xxx             # พอร์ตฐานข้อมูล hosxpv3

# jhcis
JHCIS_DB_HOST=xxx               # IP หรือ hostname ของฐานข้อมูล jhcis
JHCIS_DB_USER=xxx               # ชื่อผู้ใช้ฐานข้อมูล jhcis
JHCIS_DB_PASSWORD=xxx           # รหัสผ่านฐานข้อมูล jhcis
JHCIS_DB_NAME=xxx               # ชื่อฐานข้อมูล jhcis
JHCIS_DB_PORT=xxx               # พอร์ตฐานข้อมูล jhcis

# thairefer
THAIREFER_DB_HOST=xxx           # IP หรือ hostname ของฐานข้อมูล thairefer
THAIREFER_DB_USER=xxx           # ชื่อผู้ใช้ฐานข้อมูล thairefer
THAIREFER_DB_PASSWORD=xxx       # รหัสผ่านฐานข้อมูล thairefer
THAIREFER_DB_NAME=xxx           # ชื่อฐานข้อมูล thairefer
THAIREFER_DB_PORT=xxx           # พอร์ตฐานข้อมูล thairefer

# ipd
IPD_DB_HOST=xxx                 # IP หรือ hostname ของฐานข้อมูล ipd
IPD_DB_USER=xxx                 # ชื่อผู้ใช้ฐานข้อมูล ipd
IPD_DB_PASSWORD=xxx             # รหัสผ่านฐานข้อมูล ipd
IPD_DB_NAME=xxx                 # ชื่อฐานข้อมูล ipd
IPD_DB_PORT=xxx                 # พอร์ตฐานข้อมูล ipd